RewriteEngine On
# Si l'URL commence par "/api/"
RewriteCond %{REQUEST_URI} ^/api/
# Redirigez vers routeur.php
RewriteRule ^(.*)$ router.php [QSA,L]

# Si l'URL ne commence pas par "/api/" et que le fichier n'existe pas
# Redirigez vers index.php

# le nom du fichier n'est pas un fichier
RewriteCond %{REQUEST_FILENAME} !-f

# le nom du fichier n'est pas un dossier
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigez vers index.php avec les paramètres de l'URL avec [QSA]
# avec [L] pour arrêter le traitement des règles,c'est-à-dire que si la règle est satisfaite, elle ne sera pas traitée par les règles suivantes.
RewriteRule ^(.*)$ index.php [QSA,L]

